.loginin {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(196, 196, 196);
    background-image: url(img/FMC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.login-container {
    background-color: #242424;
    opacity: 50%; 
    padding: 30px;
    border: 2px solid #000;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    border-radius: 30px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
.close-btn:hover {
    color: #f00;
}
h2 {
    color: white;
    margin-bottom: 20px;
}
.input-group {
    width: 100%;
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    text-align: left;
    color: white;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(150, 150, 150);
}
.forgot-password {
    color: white;
    margin-top: 15px;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}